.about-section h2 {
  padding-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: var(--h2-size);
}


.why {
  border: solid white 2px;
  padding: 30px;
}

.about-section p {
  font-size: var(--p-size);
  margin-top: 30px;
  font-weight: 300;
}

.about-section h3 {
  font-size: var(--h3-size);
  font-weight: 500;
  margin-bottom: 30px;
}

.datas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media screen and (max-width: 700px) {
  .datas {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .datas {
    grid-template-columns: 1fr;
  }
}



.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

.number {
  text-align: center;
  background-color: white;
  padding: 20px;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.data-title {
  font-size: 1.5rem;
  text-align: center;
}

.data-content {
  flex-grow: 1;
  font-weight: 300;
}

.decoration-img {
  animation: moveToLeft 1.2s infinite linear;
  animation-direction: alternate;
  max-width: 100%;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0) rotate(0deg) translateY(0);
  }
}