.about-section h2 {
  padding-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  font-size: var(--h2-size);
}


.why {
  border: solid white 2px;
  padding: 30px;
}

.about-section p {
  font-size: var(--p-size);
  margin-top: 30px;
  font-weight: 300;
}

.about-section h3 {
  font-size: var(--h3-size);
  font-weight: 500;
  margin-bottom: 30px;
}

.decoration-img {
  animation: moveToLeft 1.2s infinite linear;
  animation-direction: alternate;
  max-width: 100%;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0) rotate(0deg) translateY(0);
  }
}