a {
  color: white;
  font-weight: 300;
}

.nav ul{
  list-style: none;
  display: flex;
}

.nav-a {
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.nav-a:hover{
  text-decoration: underline;
}

.active {
  color: rgb(135, 206, 250);
}


@media screen and (max-width: 1000px) {
  .nav ul {
    font-size: 1.3rem;
    position: absolute;
    top: 15vh;
    left: -900px;
    transition: all .5s ease-out;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 40px 20px;
    width: 100%;
    background: var(--black);
    z-index: 100;
  }
  .nav ul.active {
    left: 0px;
  }
}